{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5">
  <h1>Menú Principal</h1>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <a href="/articulos" class="btn btn-outline-primary btn-lg">Artículos</a>
    <a href="/comidas" class="btn btn-outline-primary btn-lg">Comida</a>
    <a href="/compras" class="btn btn-outline-primary btn-lg">Compra</a>
    <a href="/eventos" class="btn btn-outline-primary btn-lg">Evento</a>
    <a href="/tesoreria" class="btn btn-outline-primary btn-lg">Tesorería</a>
  </div>
</div>
{% endblock %}
